<!DOCTYPE html>
<html>
<head>
  <title>Sound Webpage</title>
  <style>
    /* Add any custom styles here */
    #visualizer {
      width: 300px;
      height: 200px;
      border: 1px solid black;
      margin-left: 20px;
    }
    
    .piano {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
    }
    
    .piano-key {
      width: 50px;
      height: 150px;
      background-color: white;
      border: 1px solid black;
      margin-bottom: 5px;
      cursor: pointer;
    }
    
    .piano-key.black {
      background-color: black;
      width: 30px;
      height: 100px;
      margin-left: -10px;
      margin-right: -10px;
    }
  </style>
</head>
<body>
  <h1>Sound Webpage</h1>
  
  <button id="playButton">Play Sound</button>
  <button id="stopButton">Stop Sound</button>
  
  <h2>Volume</h2>
  <input type="range" id="volumeSlider" min="0" max="100" value="50">
  <p>Current Volume: <span id="currentVolume">50</span></p>
  
  <h2>Pitch</h2>
  <input type="range" id="pitchSlider" min="0" max="350" value="50">
  <p>Current Pitch: <span id="currentPitch">50</span></p>
  
  <!-- Add an element for displaying the current frequency -->
  <p>Current Frequency: <span id="currentFrequency">0</span> Hz</p>
  
  <!-- Add more sliders for other effects if needed -->
  
  <div id="visualizer"></div>
  

  
  <script>
    // Add your JavaScript code here

    
    let oscillator;
    let gainNode;
    let analyser;
    let dataArray;
    let canvasCtx;
    
    // Function to play the sound
    function playSound(pitch) {
      const volume = volumeSlider.value;
      
      // Create an AudioContext
      const audioContext = new (window.AudioContext || window.webkitAudioContext)();
      
      // Create an oscillator node
      oscillator = audioContext.createOscillator();
      
      // Set the oscillator type to "sine" for a constant buzz
      oscillator.type = 'sine';
      
      // Set the pitch based on the data-pitch attribute of the piano key
      oscillator.frequency.value = pitch;
      
      // Create a gain node to control the volume
      gainNode = audioContext.createGain();
      
      // Set the gain value based on the volume slider value
      gainNode.gain.value = volume / 100;
      
      // Connect the oscillator to the gain node
      oscillator.connect(gainNode);
      
      // Connect the gain node to the audio output
      gainNode.connect(audioContext.destination);
      
      // Start the oscillator
      oscillator.start();
    }
    
    // Function to stop the sound
    function stopSound() {
      if (oscillator) {
        oscillator.stop();
        oscillator.disconnect();
      }
    }
    
    // Function to update the volume
    function updateVolume() {
      const volume = volumeSlider.value;
      currentVolume.innerText = volume;
      // Rest of the code...
      if (gainNode) {
        gainNode.gain.value = volume / 100;
      }
    }
    
    // Function to update the pitch
    function updatePitch() {
      const pitch = pitchSlider.value;
      const frequency = mapRange(pitch, 0, 100, 100, 1000);
      currentFrequency.innerText = frequency.toFixed(2);
      // Rest of the code...
      if (oscillator) {
        oscillator.frequency.value = mapRange(pitch, 0, 100, 100, 1000);
      }
    }
    
    // Function to visualize the sound wave
    function visualize() {
      canvasCtx.clearRect(0, 0, visualizer.width, visualizer.height);
      
      analyser.getByteTimeDomainData(dataArray);
      
      canvasCtx.lineWidth = 2;
      canvasCtx.strokeStyle = 'rgb(0, 0, 0)';
      
      canvasCtx.beginPath();
      
      const sliceWidth = visualizer.width * 1.0 / dataArray.length;
      let x = 0;
      
      for(let i = 0; i < dataArray.length; i++) {
        const v = dataArray[i] / 128.0;
        const y = v * visualizer.height / 2;
        
        if(i === 0) {
          canvasCtx.moveTo(x, y);
        } else {
          canvasCtx.lineTo(x, y);
        }
        
        x += sliceWidth;
      }
      
      canvasCtx.lineTo(visualizer.width, visualizer.height / 2);
      canvasCtx.stroke();
      
      requestAnimationFrame(visualize);
    }
    
    // Add event listeners to handle button click and slider changes
    playButton.addEventListener('click', playSound.bind(null, pitchSlider.value));
    stopButton.addEventListener('click', stopSound);
    volumeSlider.addEventListener('input', updateVolume);
    pitchSlider.addEventListener('input', updatePitch);
    
    // Helper function to map a value from one range to another
    function mapRange(value, inMin, inMax, outMin, outMax) {
      return (value - inMin) * (outMax - outMin) / (inMax - inMin) + outMin;
    }
    
    // Initialize the visualizer canvas
    canvasCtx = visualizer.getContext('2d');
    visualizer.width = visualizer.clientWidth;
    visualizer.height = visualizer.clientHeight;
    
    // Add event listeners to piano keys
    pianoKeys.forEach(key => {
      const pitch = parseFloat(key.dataset.pitch);
      key.addEventListener('mousedown', playSound.bind(null, pitch));
      key.addEventListener('mouseup', stopSound);
      key.addEventListener('mouseleave', stopSound);
    });
  </script>
</body>
</html>